#Server
SERVER_ADDRESS=localhost:8000

# PostgresSQL Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=root
DB_PORT=5432

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=testpass

# Redis Configuration
REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=secrete_password
REDIS_DB=0

# Redis Stream Configurations
REDIS_STREAM=CHAT_STREAM
REDIS_STREAM_GROUP=CHAT_STREAM_GROUP
REDIS_WORKER_NAME=CHAT_STREAM_WORKER

# Public Directory Name
PUBLIC_DIR=public

# OpenAI API Key
OPENAI_API_KEY=

# AI SERVER ADDRESS
AI_SERVER_ADDRESS=localhost:50051

# MAX FILE SIZE Allowed To Upload
MAX_FILE_SIZE=10